<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <emp-count [all] ="getTotalEmpCount()" 
               [male] ="getTotalMaleEmpCount()" 
               [female] ="getTotalFemalEmpCount()"
               (countRadioButtonSelectionChange)="onEmployeeCountRadioButtonChange($event)"
               ></emp-count>
    <table>
        <tr>
            <td>
                Code
            </td>
            <td>
                Name
            </td>
            <td>
                Gender
            </td>
            <td>
                Salary
            </td>
            <td>
                DateOfBirth
            </td>
            <td>
                Index
            </td>
            <td>
                Is First
            </td>
            <td>
                Is Last
            </td>
            <td>
                Is Even
            </td>
            <td>
                Is Odd
            </td>
        </tr>
        <ng-container *ngFor="let emp of employee; trackBy:getEmployeeTrack; let i = index; let isFirst = first; let isLast=last; let isEven=even; let isOdd=odd">
            <tr *ngIf="selectedEmployeeRadioButton=='All' || selectedEmployeeRadioButton==emp.gender">
                <td>{{emp.empCode | uppercase}}</td>
                <td>{{emp.empName | lowercase | employeeTitle:emp.empGender}}</td>
                <td>{{emp.empGender}}</td>
                <td>{{emp.empASal | currency :'USD':true:'1.3-3'}}</td>
                <td>{{emp.empDOB | date : 'fullDate'| uppercase }}</td>
                <td>{{i}}</td>
                <td>{{isFirst}}</td>
                <td>{{isLast}}</td>
                <td>{{isEven}}</td>
                <td>{{isOdd}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!employee || employee.length ==0">
            <td colspan="6">No EmployeeFound</td>
        </tr>
        <tr>
            <td colspan="6">
                <button (click)="getEmployees()">Refresh Employees</button>
            </td>
        </tr>
    </table>
</body>
</html>